// FUENTE
    /* Google fonts */
    @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

    $heading-font: "Rubik", sans-serif;
    $body-font :  "Work Sans", sans-serif;

//FONT SIZE
    $h1-font-size: 7.2rem;
    $h2-font-size: 4.8rem;  
    $h3-font-size: 3.2rem;
    $h4-font-size: 2.4rem;
    $h5-font-size: 2rem;
    $normal-font-size: 1.8rem;

    $h1-font-size-mobile: 3.2rem;
    $h2-font-size-mobile: 2.8rem;
    $h3-font-size-mobile: 2rem;
    $h4-font-size-mobile: 1.8rem;
    $h5-font-size-mobile: 1.8rem;
    $normal-font-size-mobile: 1.8rem;

// MEDIA QUERIES
    $phone: 768px;
    $tablet: 1200px;
    $desktop: 1400px;

 // COLORS 
    $yellow-1: #FFD368;
    $yellow-2: #FFB400;
    $yellow-3: #E19F00;
    $blue-1: #4690DC;
    $blue-2: #13589F;
    $blue-3: #09427B;
    $brown-1: #ADA091;
    $brown-2: #7F766B;
    $brown-3: #514F4E;
    $gray-1: #909998;
    $gray-2: #5C6766;
    $gray-3: #353D3D;
    $shadow: rgba(31, 31, 31, 0.75);
    $background: #F4F4F4;
    $black: #000000;
    $white: #FFFFFF;
    $green: #1db555;

// BOX-SHADOW
    $box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.30);

// BORDER-RADIUS
    $border-radius: 2rem;

