@use 'base/mixins' as m;
@use 'base/variables' as v;

.contacto {
    background-color: v.$brown-3;
    padding: 5.4rem 9.2rem;

    @include m.phone {
        padding: 1rem 2rem;
    }
    

    &__title {
        font-size: v.$h2-font-size;
        color: v.$white;
        text-align: center;
        margin-bottom: 3rem;

        @include m.phone {
            font-size: v.$h1-font-size-mobile;
            margin-bottom: 2rem;
        }
    }

    &__check {
        color: v.$white;
        font-size: v.$normal-font-size;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 9rem;
        margin-bottom: 4rem;

        @include m.phone {
            flex-direction: column;
            gap: 1rem;
            line-height: 2.5rem;
        }
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    &__content {
        display: grid;
        grid-template-columns: 4fr 7fr;
        justify-content: center;
        align-items: start;
        gap: 3rem;

        @include m.phone {
            display: flex;
            flex-direction: column;
        }
    }


    &__info {
        background-color: v.$blue-2;
        border-radius: 2rem;
        color: v.$white;
        padding: 3.3rem 4rem;
        height: auto;

        @include m.phone {
            height: auto;
            padding: 3rem 2rem;
        }


        &-title {
            color: v.$white;
            font-size: v.$h3-font-size;
            text-align: center;
            margin-bottom: 2rem;
            line-height: 4rem;
            text-transform: uppercase;
        }

        &-items {
            display: flex;
            flex-direction: column;
            gap: 3rem;
        }

        &-item {
        
        }

        &-item-title {
            color: v.$white;
        }

        &-item-text {
            
        }

        &-item-text-phone {
            color: v.$white;
        }

        &-item-redes {
            font-size: 4rem;
            display: flex;
            gap: 2rem;
        }

        &-item-text--bold {
            font-weight: 700;   
        }

        &-item-redes-link {
            color: v.$white;
            transition: all 200ms;

            &:hover {
                color: v.$yellow-1;
                scale: 1.1;
            }
        }
    }

    &__form {
        background-color: v.$yellow-2;
        color: v.$black;
        border-radius: 2rem;
        padding: 4rem;
        height: auto;

        @include m.phone {
            max-width: 100vw;
            padding: 1.5rem 1rem; 
        }

        &-title {
            color: v.$black;
            font-size: v.$h3-font-size;
            /* text-align: center; */
            text-transform: uppercase;

            @include m.phone {
                text-align: center;
                line-height: 4rem;
                margin-bottom: 2rem;
            }
        }

        &-text {
            color: v.$black;
            font-size: v.$normal-font-size;
            padding-left: 2rem;
            line-height: 2.5rem;
            margin-bottom: 3rem;

            &--bold {
                font-weight: 700;
                font-style: italic;
                font-size: v.$h5-font-size-mobile;
            }

            @include m.phone {
                padding: 1rem;
            }
        }

        &-formulario {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            justify-content: center;
            align-items: center;
        }

        &-fieldset {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1.5rem;
            border: none;

            @include m.phone {
                gap: 1rem;
            }

            &-title {
                font-size: v.$h5-font-size;
                font-weight: 600;

                & span {
                    font-weight: 400;
                    font-style: italic;
                    font-size: v.$h5-font-size-mobile;
                }
            }
        }

        &-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1.5rem;

            @include m.phone {
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }
        }

        &-label {
            font-size: v.$h5-font-size;
            font-weight: 600;
            padding: 1.8rem 4rem;
            border-radius: 2rem;
            background-color: v.$white;

            @include m.phone {
                padding: 1.5rem 2rem;
            }
        }
        
        &-input {
            border: none;
            border-radius: 1rem;
            padding: 1rem 2rem;
            font-size: v.$normal-font-size; 
            transition: all 200ms;

            @include m.phone {
                padding: 1rem;
            }
            
            &:focus {
                background-color: rgba(v.$yellow-2, .2);
                transform: scale(1.02);
                border: none;
                outline: none;
            }

            &[type="radio"]:checked {
                accent-color: v.$yellow-1;
                
                &:hover {
                    accent-color: v.$yellow-1;
                }
            }
        }

        &-submit {
            border: none;
            max-width: 70rem;
            @include m.boton(v.$blue-3, v.$white);
            
        }
    }
}