@use 'base/mixins' as m;
@use 'base/variables' as v;

.mapa {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;


    &__content {
        background-color: #FBC83B;
        width: 100%;
        padding-top: 3rem;
        text-transform: uppercase;
    }

    &__title {
        font-size: v.$h2-font-size;

        @include m.phone {
            font-size: v.$h1-font-size-mobile;
        }
    }

    &__button {
        margin-top: 3rem;
        @include m.boton(v.$blue-3, v.$white);
    }

    &__img {
        width: 100%;
        margin-top: -5rem;
        z-index: -1;

        @include m.phone {
            margin-top: 0;
        }
    }

}