@use 'base/mixins' as m;
@use 'base/variables' as v;


.nosotros {
    display: grid;
    grid-template-columns: 9fr 4fr;

    @include m.phone {
        grid-template-columns: 1fr;
    }

    
    &__content {
        grid-column: 0 / 1; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;  
        padding: 3rem 10rem;

        @include m.phone {
            padding: 3rem;
        }
    }

    &__title {
        font-size: v.$h2-font-size;
        font-weight: 700;
        color: v.$blue-2;
        margin-bottom: 2rem;
        text-transform: uppercase;

        @include m.phone {
            font-size: v.$h1-font-size-mobile;
            width: 100%;
        }
    }

    &__texts-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        
        @include m.phone {
            grid-template-columns: 1fr;

        }
    }

    &__text {
        font-size: v.$normal-font-size;
    }

    &__imagen {
        grid-column: 2 / 3;
        width: 100%;
        height: 45rem;
        /* width: 100%;
        height: 100%; */
        object-fit: cover;

        @include m.phone {
            display: none
        }
    }

    &__button {
        margin-top: 2rem;
        @include m.boton(v.$yellow-2, v.$black);
    }
}